@font-face {
  font-family: "Montserrat Kev";
  src: url("../fonts/Montserrat.ttf") format("truetype");
}
* {
  font-family: "Montserrat Kev";
}

body,
main {
  overflow-x: hidden;
}
.navbar {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}
.navbar-brand img {
  width: 30px;
  height: 30px;
}
.navbar-brand span {
  font-size: 12px;
  font-weight: bold;
}
.navbar .navbar-nav > li > a {
  position: relative;
  font-weight: 600;
}
.navbar .navbar-nav > li > a:hover {
  color: #2127c8 !important;
  transition: color 300ms ease-in-out;
}
.navbar .navbar-nav > li > a.isActive {
  position: relative;
  color: #2127c8 !important;
}
.navbar .navbar-nav > li > a.isActive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 45px;
  height: 2px;
  background-color: #2127c8;
  animation: navbarItemAnimate 300ms forwards ease-in-out;
  transform-origin: left;
}

@keyframes navbarItemAnimate {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.sections section#accueil {
  position: relative;
}
.sections section#accueil::after {
  content: "";
  position: absolute;
  height: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: linear-gradient(to top, #fff, transparent);
}

.sections section#accueil .welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
  background-color: white;
  box-shadow: 0 0 30px 40px white;
  z-index: 10;
}

.sections section#accueil .welcome-text .text-1 {
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
}

.sections section#accueil .welcome-text .text-2 {
  text-align: center;
}

.sections section#accueil img {
  z-index: 9;
  max-width: 150% !important;
  transform: translateX(-20%) !important;
}

@media screen and (min-width: 600px) {
  .navbar-brand span {
    font-size: 15px;
  }
  .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .navbar .navbar-nav > li > a.isActive::after {
    left: 9px;
  }
}
