@font-face {
  font-family: "Montserrat Kev";
  src: url("../fonts/Montserrat.ttf") format("truetype");
}
* {
  font-family: "Montserrat Kev";
}
html,
body {
  scroll-behavior: smooth;
}

body,
main {
  overflow-x: hidden;
}
.navbar {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}
.navbar-brand img {
  width: 30px;
  height: 30px;
}
.navbar-brand span {
  font-size: 12px;
  font-weight: bold;
}
.navbar .navbar-nav > li > a {
  font-size: 13px;
  position: relative;
  font-weight: 600;
}
.navbar .navbar-nav > li > a:hover {
  color: #2127c8 !important;
  transition: color 300ms ease-in-out;
}
.navbar .navbar-nav > li > a.isActive {
  position: relative;
  color: #2127c8 !important;
}
.navbar .navbar-nav > li > a.isActive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 45px;
  height: 2px;
  background-color: #2127c8;
  animation: navbarItemAnimate 300ms forwards ease-in-out;
  transform-origin: left;
}

@keyframes navbarItemAnimate {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.sections section#accueil {
  position: relative;
}
.sections section#accueil::after {
  content: "";
  position: absolute;
  height: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  background: linear-gradient(to top, #fff, transparent);
}

.sections section#accueil .welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
  width: 200px;
  background-color: white;
  box-shadow: 0 0 30px 40px white;
  z-index: 10;
}

.sections section#accueil .welcome-text .text-1 {
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
}

.sections section#accueil .welcome-text .text-2 {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

.sections section#accueil .welcome-text .btn {
  font-size: 11px;
}

.sections section#accueil img {
  z-index: 9;
  width: 150% !important;
  transform: translateX(-20%) !important;
}

.sections h1.titres {
  position: relative;
  text-align: center;
  font-size: 17.5px;
  font-weight: bold;
  color: #2127c8;
  text-transform: uppercase;
  margin-top: 45px;
  padding-bottom: 5px;
}

.sections h1.titres::after {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 350px;
  left: 50%;
  bottom: 0;
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 30%,
    #2127c8 50%,
    #ffffff 70%,
    #ffffff 100%
  );
  background-color: #f0f0f0;
  transform: translateX(-50%);
}

.sections h2.sous-titres {
  position: relative;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  color: #212529;
  margin: 0px;
  padding-bottom: 5px;
}

.sections h2.sous-titres::after {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 250px;
  left: 50%;
  bottom: 0;
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 30%,
    #212529 50%,
    #ffffff 70%,
    #ffffff 100%
  );
  background-color: #f0f0f0;
  transform: translateX(-50%);
}

.sections p.lead {
  font-size: 13px;
  text-align: justify;
  margin: 10px 0;
}

@media screen and (min-width: 600px) {
  .navbar-brand span {
    font-size: 15px;
  }
  .navbar-brand img {
    width: 40px;
    height: 40px;
  }
  .navbar .navbar-nav > li > a {
    font-size: 15px;
  }
  .navbar .navbar-nav > li > a.isActive::after {
    left: 9px;
  }
  .sections h1.titres {
    font-size: 20px;
  }
  .sections h1.sous-titres {
    font-size: 17px;
  }
  .sections p.lead {
    font-size: 13.8px;
  }

  .sections section#accueil .welcome-text {
    position: static;
    margin-top: 72px;
    background: none;
    box-shadow: none;
    transform: none;
  }
  .sections section#accueil img {
    position: static;
    right: 0;
    width: 100% !important;
    transform: translateX(5%) !important;
  }
  .sections section#accueil .welcome-text .text-1 {
    font-size: 25px;
  }
  .sections section#accueil .welcome-text .text-2 {
    font-size: 15px;
  }
}
